on:
  push:
  pull_request:

jobs:
  run:
    name: Run on ${{ matrix.os }} with ${{ matrix.processes }} processes
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        php: [ 8.3 ]
        processes: [ 1, 10 ]
    env:
      PROCESSES: ${{ matrix.processes }}
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: composer
      - run: composer install --no-progress --prefer-dist --ansi
      - run: composer lint
